* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}

h1 {
  background-color: rgb(168, 184, 197);
  color: black;
  text-align: center;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

h1:hover {
  transform: scale(1.1);
  transition: transform 2s;
}

h2 {
  text-align: center;
  background-color: aliceblue;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

h2:hover {
  transform: scale(0.8);
  transition: transform 0.7s;
}

h3 {
  background-color: white;
  text-align: center;
}

h3:hover {
  transform: scale(1.1);
  transition: transform 0.7s;
}

h4 {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.presentacion-mascotas {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
  justify-items: center;
  background-color: rgb(168, 184, 197);
}

.presentacion-mascotas div {
  border: black solid 3px;
  margin: 10px;
  padding: 10px;
}

.presentacion-mascotas img {
  height: 150px;
}

.presentacion-mascotas div p {
  font-size: 1.2rem;
  text-align: center;
  color: white;
  margin-top: -10px;
}

@media (max-width: 670px) {
  .presentacion-mascotas {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    justify-items: center;
    background-color: rgb(168, 184, 197);
  }
}
.main-estilo {
  max-width: 80%;
  margin: auto;
}

.adopcion {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(168, 184, 197);
}

.adopcion img {
  max-width: 50%;
}

.adopcion p {
  font-size: 22px;
}

.lista-numerada {
  counter-reset: lista;
  list-style: none;
  font-size: 20px;
  background-color: rgb(168, 184, 197);
}

.lista-numerada-adopcion {
  background-color: rgb(168, 184, 197);
  font-size: 16px;
}

.lista-numerada li {
  counter-increment: lista;
  margin-bottom: 0.5em;
}

.lista-numerada li::before {
  content: counter(lista) ".";
  color: black;
  font-weight: bold;
  font-size: 20px;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-link {
  text-decoration: none;
  color: inherit;
}

.btn-link:hover {
  text-decoration: underline;
}

@media (max-width: 670px) {
  .adopcion {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(168, 184, 197);
  }
  .adopcion p {
    font-size: 15px;
  }
}
.main-estilo {
  max-width: 80%;
  margin: auto;
}

.conocelos {
  display: flex;
  background-color: rgb(168, 184, 197);
  flex-wrap: wrap;
  flex-direction: column;
}

.conocelos img {
  max-width: 70%;
}

.conocelos p {
  font-size: 23px;
}

@media (max-width: 670px) {
  .conocelos {
    display: flex;
    background-color: rgb(168, 184, 197);
    flex-wrap: wrap;
    flex-direction: column;
  }
  .conocelos img {
    height: 200px;
  }
  .conocelos p {
    font-size: 15px;
  }
}
.main-estilo {
  max-width: 80%;
  margin: auto;
}

.mensajeria {
  background-color: rgb(168, 184, 197);
}

.container-contacto {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: rgb(168, 184, 197);
}

.main-estilo {
  max-width: 80%;
  margin: auto;
}

.nosotros {
  display: flex;
  background-color: rgb(168, 184, 197);
  flex-direction: column;
}

.nosotros img {
  max-width: 70%;
}

.nosotros p {
  font-size: 22px;
}

@media (max-width: 670px) {
  .nosotros {
    display: flex;
    background-color: rgb(168, 184, 197);
    flex-direction: column;
  }
  .nosotros img {
    width: 300px;
    margin: 15px;
  }
  .nosotros p {
    font-size: 15px;
  }
}
* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}

.main-estilo {
  max-width: 80%;
  margin: auto;
}

h1 {
  background-color: rgb(168, 184, 197);
  color: black;
  text-align: center;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

h1:hover {
  transform: scale(1.1);
  transition: transform 2s;
}

h2 {
  text-align: center;
  background-color: aliceblue;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

h2:hover {
  transform: scale(0.8);
  transition: transform 0.7s;
}

h3 {
  background-color: white;
  text-align: center;
}

h3:hover {
  transform: scale(1.1);
  transition: transform 0.7s;
}

h4 {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.presentacion-mascotas {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
  justify-items: center;
  background-color: rgb(168, 184, 197);
}

.presentacion-mascotas div {
  border: black solid 3px;
  margin: 10px;
  padding: 10px;
}

.presentacion-mascotas img {
  height: 150px;
}

.presentacion-mascotas div p {
  font-size: 1.2rem;
  text-align: center;
  color: white;
  margin-top: -10px;
}

.adopcion {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(168, 184, 197);
}

.adopcion img {
  max-width: 50%;
}

.adopcion p {
  font-size: 22px;
}

.lista-numerada {
  counter-reset: lista;
  list-style: none;
  font-size: 20px;
  background-color: rgb(168, 184, 197);
}

.lista-numerada-adopcion {
  background-color: rgb(168, 184, 197);
  font-size: 16px;
}

.lista-numerada li {
  counter-increment: lista;
  margin-bottom: 0.5em;
}

.lista-numerada li::before {
  content: counter(lista) ".";
  color: black;
  font-weight: bold;
  font-size: 20px;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-link {
  text-decoration: none;
  color: inherit;
}

.btn-link:hover {
  text-decoration: underline;
}

.conocelos {
  display: flex;
  background-color: rgb(168, 184, 197);
  flex-wrap: wrap;
  flex-direction: column;
}

.conocelos img {
  max-width: 70%;
}

.conocelos p {
  font-size: 23px;
}

.container-contacto {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: rgb(168, 184, 197);
}

.mensajeria {
  background-color: rgb(168, 184, 197);
}

.nosotros {
  display: flex;
  background-color: rgb(168, 184, 197);
  flex-direction: column;
}

.nosotros img {
  max-width: 70%;
}

.nosotros p {
  font-size: 22px;
}

.footer1 {
  background-color: rgb(227, 240, 252);
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.footer1 p {
  text-align: left;
  padding: 2%;
  font-size: 15px;
}

.footer1 p:hover {
  transform: scale(1.1);
  transition: transform 0.7s;
}

@media (max-width: 670px) {
  h1 {
    background-color: rgb(168, 184, 197);
    color: black;
    text-align: center;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  }
  .presentacion-mascotas {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    justify-items: center;
    background-color: rgb(168, 184, 197);
  }
  .adopcion {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(168, 184, 197);
  }
  .adopcion p {
    font-size: 15px;
  }
  .nosotros {
    display: flex;
    background-color: rgb(168, 184, 197);
    flex-direction: column;
  }
  .nosotros img {
    width: 300px;
    margin: 15px;
  }
  .nosotros p {
    font-size: 15px;
  }
  .conocelos {
    display: flex;
    background-color: rgb(168, 184, 197);
    flex-wrap: wrap;
    flex-direction: column;
  }
  .conocelos img {
    height: 200px;
  }
  .conocelos p {
    font-size: 15px;
  }
  .footer1 {
    background-color: rgb(227, 240, 252);
    display: flex;
    align-items: center;
    flex-direction: column;
  }
}/*# sourceMappingURL=estilo.css.map */